@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-hero {
  font-family: "Nosifer";
}

.font-wishes {
  font-family: "Irish Grover";
}

.font-name {
  font-family: "Frijole";
}

:root {
  --accent-color: #aaaaff;
}

.wishes-border {
  padding: 2rem 1rem;
  border: 1rem solid var(--accent-color);
  border-image: repeating-linear-gradient(45deg,
      transparent,
      transparent 5px,
      var(--accent-color) 6px,
      var(--accent-color) 15px,
      transparent 16px,
      transparent 20px) 20/1.5rem;
}
